<%- include('../../includes/header') %>

    <div ng-class="$ctrl.styles.content" class="BDw45cKhOY5X-HJyc5_2C _20PZvw_i27QWgmADMKwMry">
        <div ng-class="$ctrl.styles.wrapper" class="_1h0fCbtWimc44r9dNSenvs _3gYc2Hcob-hIqkYX-hTuYV">
            <!-- uiView: -->
            <ui-view class="ng-scope">
                <gupw-sample-lobby-layout class="ng-scope ng-isolate-scope">
                    <!-- uiView: -->
                    <ui-view class="ng-scope" style="">
                        <gupw-lobby-board class="ng-scope ng-isolate-scope">


                            <section ng-class="$ctrl.styles['board-banner']" class="xfB6Z23fvNGu_cwmiQ068">
                                <div ng-class="$ctrl.styles.wrapper" class="_3gYc2Hcob-hIqkYX-hTuYV">
                                    <img
                                        src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/014b695a12fd025d8d7090a425906c21.png">
                                    <img
                                        src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/4d42149368e76dddc16ab13086aa2d80.png">
                                    <img
                                        src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/5289035029a44dcf988524e10e0be9fd.png">
                                    <img
                                        src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/e3eaac03e6e1967dd60ff54dea472a0f.png">
                                </div>
                            </section>


                            <section ng-class="$ctrl.styles['game-list']" class="_1Rdq2XNGF4qn3CW8hRwx3y">
                                <div ng-class="$ctrl.styles.wrapper" class="_3gYc2Hcob-hIqkYX-hTuYV">
                                    <ul class="list-unstyled list-slot-production">
                                        <!-- ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                                        <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index" data-produce="V8"
                                            ng-click="$ctrl.viewModel.onEntranceClick(entrance)"
                                            ng-class="{ 'active': entrance.active }" class="normal active" style="">
                                            <figure>
                                                <!-- ngIf: !entrance.imgUrl -->
                                                <img ng-if="!entrance.imgUrl"
                                                    ng-src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/8e1429f4ccb983aa30ed5f7b0bcdfc0f.png"
                                                    class="ng-scope"
                                                    src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/8e1429f4ccb983aa30ed5f7b0bcdfc0f.png"><!-- end ngIf: !entrance.imgUrl -->
                                                <figcaption>
                                                    <h5 nav-link-display="" model="entrance" class="ng-isolate-scope">V8
                                                        Game Bài 3d</h5>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                                        <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index" data-produce="JILI"
                                            ng-click="$ctrl.viewModel.onEntranceClick(entrance)"
                                            ng-class="{ 'active': entrance.active }" class="normal" style="">
                                            <figure> <!-- ngIf: !entrance.imgUrl --><img ng-if="!entrance.imgUrl"
                                                    ng-src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/1cc9e9fcc0b8b4e2a854c38861aacb28.png"
                                                    class="ng-scope"
                                                    src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/1cc9e9fcc0b8b4e2a854c38861aacb28.png"><!-- end ngIf: !entrance.imgUrl -->
                                                <figcaption>
                                                    <h5 nav-link-display="" model="entrance" class="ng-isolate-scope">
                                                        JILI Game Bài 3d</h5>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                                        <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index" data-produce="TP"
                                            ng-click="$ctrl.viewModel.onEntranceClick(entrance)"
                                            ng-class="{ 'active': entrance.active }" class="normal">
                                            <figure> <!-- ngIf: !entrance.imgUrl --><img ng-if="!entrance.imgUrl"
                                                    ng-src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/e776c16be9b7da5b3128e8ef52d48147.png"
                                                    class="ng-scope"
                                                    src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/e776c16be9b7da5b3128e8ef52d48147.png"><!-- end ngIf: !entrance.imgUrl -->
                                                <figcaption>
                                                    <h5 nav-link-display="" model="entrance" class="ng-isolate-scope">TP
                                                        Game Bài 3d</h5>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                                        <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index" data-produce="RICH88"
                                            ng-click="$ctrl.viewModel.onEntranceClick(entrance)"
                                            ng-class="{ 'active': entrance.active }" class="normal">
                                            <figure> <!-- ngIf: !entrance.imgUrl --><img ng-if="!entrance.imgUrl"
                                                    ng-src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/5ffae4bf5066bb78a8b33014482e62f0.png"
                                                    class="ng-scope"
                                                    src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/5ffae4bf5066bb78a8b33014482e62f0.png"><!-- end ngIf: !entrance.imgUrl -->
                                                <figcaption>
                                                    <h5 nav-link-display="" model="entrance" class="ng-isolate-scope">
                                                        RICH88 Game Bài 3d</h5>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                                        <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index" data-produce="KM"
                                            ng-click="$ctrl.viewModel.onEntranceClick(entrance)"
                                            ng-class="{ 'active': entrance.active }" class="normal">
                                            <figure> <!-- ngIf: !entrance.imgUrl --><img ng-if="!entrance.imgUrl"
                                                    ng-src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/f2a42ab0737c52e153c7b602dfb474a2.png"
                                                    class="ng-scope"
                                                    src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/f2a42ab0737c52e153c7b602dfb474a2.png"><!-- end ngIf: !entrance.imgUrl -->
                                                <figcaption>
                                                    <h5 nav-link-display="" model="entrance" class="ng-isolate-scope">KM
                                                        Game Bài 3d</h5>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                                        <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index" data-produce="MG"
                                            ng-click="$ctrl.viewModel.onEntranceClick(entrance)"
                                            ng-class="{ 'active': entrance.active }" class="normal">
                                            <figure> <!-- ngIf: !entrance.imgUrl --><img ng-if="!entrance.imgUrl"
                                                    ng-src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/c2e1cffb358b45d98f1267679e1b6772.png"
                                                    class="ng-scope"
                                                    src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/c2e1cffb358b45d98f1267679e1b6772.png"><!-- end ngIf: !entrance.imgUrl -->
                                                <figcaption>
                                                    <h5 nav-link-display="" model="entrance" class="ng-isolate-scope">MG
                                                        Game Bài 3d</h5>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                                        <li ng-repeat="entrance in $ctrl.viewModel.entranceList track by $index" data-produce="FTG"
                                            ng-click="$ctrl.viewModel.onEntranceClick(entrance)"
                                            ng-class="{ 'active': entrance.active }" class="normal">
                                            <figure> <!-- ngIf: !entrance.imgUrl --><img ng-if="!entrance.imgUrl"
                                                    ng-src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/4312c03da3103e3a1977114f27cfef4a.png"
                                                    class="ng-scope"
                                                    src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/4312c03da3103e3a1977114f27cfef4a.png"><!-- end ngIf: !entrance.imgUrl -->
                                                <figcaption>
                                                    <h5 nav-link-display="" model="entrance" class="ng-isolate-scope">
                                                        FTG Game Bài 3d</h5>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <!-- end ngRepeat: entrance in $ctrl.viewModel.entranceList track by $index -->
                                    </ul>

                                    <iframe class="iframeElement" src="/Lobby/Board/V8"></iframe>

                                </div>
                            </section>


                        </gupw-lobby-board>
                    </ui-view>
                </gupw-sample-lobby-layout>
            </ui-view>
        </div>
    </div>

    <script src="/core/js/lobby/board.js"></script>
    <%- include('../../includes/footer') %>