<%- include('../../includes/header') %>

    <div id="body-web-vip">
        <div class="main-wrap">
            <div class="vip-bg">
                <img class=" lazyloaded" data-src="https://i.imgur.com/GDASj10.png" alt=""
                    src="https://i.imgur.com/GDASj10.png">
            </div>
            <div class="swiper-box">
                <div
                    class="swiper mySwiper5 swiper-cards swiper-3d swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress">
                    <div class="swiper-wrapper" id="swiper-wrapper-3788ecb9b1080d2b1" aria-live="polite"
                        style="cursor: grab;">
                        <div class="swiper-slide swiper-slide-visible swiper-slide-active" role="group"
                            aria-label="1 / 6"
                            style="width: 400px; z-index: 6; transform: translate3d(0px, 0px, 0px) rotateZ(0deg) scale(1);">
                            <div class="box">
                                <div class="info-vip">
                                    <div class="top-box">
                                        <div class="level">VIP 1</div>
                                        <p>VIP 1</p>
                                    </div>
                                    <div class="bottom-box">
                                        <p>Thưởng tháng = 38000</p>
                                        <p>Nạp tiền &gt;= 12000000</p>
                                    </div>
                                </div>
                                <div class="badge-img">
                                    <img class=" lazyloaded" data-src="/web/nato888/storage/vip-icon/vip1.png" alt=""
                                        src="/web/nato888/storage/vip-icon/vip1.png">
                                </div>
                            </div>
                            <div class="swiper-slide-shadow" style="opacity: 0;"></div>
                        </div>
                        <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 6"
                            style="width: 400px; z-index: 5; transform: translate3d(calc(-400px + 7.25%), 0px, -100px) rotateZ(2deg) scale(1);">
                            <div class="box">
                                <div class="info-vip">
                                    <div class="top-box">
                                        <div class="level">Vip 2</div>
                                        <p>Vip 2</p>
                                    </div>
                                    <div class="bottom-box">
                                        <p>Thưởng tháng = 68000</p>
                                        <p>Nạp tiền &gt;= 60000000</p>
                                    </div>
                                </div>
                                <div class="badge-img">
                                    <img class=" lazyloaded" data-src="/web/nato888/storage/vip-icon/vip2.png" alt=""
                                        src="/web/nato888/storage/vip-icon/vip2.png">
                                </div>
                            </div>
                            <div class="swiper-slide-shadow" style="opacity: 1;"></div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="3 / 6"
                            style="width: 400px; z-index: 4; transform: translate3d(calc(-800px + 13%), 0px, -200px) rotateZ(4deg) scale(1);">
                            <div class="box">
                                <div class="info-vip">
                                    <div class="top-box">
                                        <div class="level">VIP 3</div>
                                        <p>VIP 3</p>
                                    </div>
                                    <div class="bottom-box">
                                        <p>Thưởng tháng = 88000</p>
                                        <p>Nạp tiền &gt;= 180000000</p>
                                    </div>
                                </div>
                                <div class="badge-img">
                                    <img class=" lazyloaded" data-src="/web/nato888/storage/vip-icon/vip3.png" alt=""
                                        src="/web/nato888/storage/vip-icon/vip3.png">
                                </div>
                            </div>
                            <div class="swiper-slide-shadow" style="opacity: 1;"></div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="4 / 6"
                            style="width: 400px; z-index: 3; transform: translate3d(calc(-1200px + 17.25%), 0px, -300px) rotateZ(6deg) scale(1);">
                            <div class="box">
                                <div class="info-vip">
                                    <div class="top-box">
                                        <div class="level">VIP 4</div>
                                        <p>VIP 4</p>
                                    </div>
                                    <div class="bottom-box">
                                        <p>Thưởng tháng = 138000</p>
                                        <p>Nạp tiền &gt;= 500000000</p>
                                    </div>
                                </div>
                                <div class="badge-img">
                                    <img class=" lazyloaded" data-src="/web/nato888/storage/vip-icon/vip4.png" alt=""
                                        src="/web/nato888/storage/vip-icon/vip4.png">
                                </div>
                            </div>
                            <div class="swiper-slide-shadow" style="opacity: 1;"></div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="5 / 6"
                            style="width: 400px; z-index: 2; transform: translate3d(calc(-1600px + 20%), 0px, -400px) rotateZ(8deg) scale(1);">
                            <div class="box">
                                <div class="info-vip">
                                    <div class="top-box">
                                        <div class="level">VIP 5</div>
                                        <p>VIP 5</p>
                                    </div>
                                    <div class="bottom-box">
                                        <p>Thưởng tháng = 188000</p>
                                        <p>Nạp tiền &gt;= 2000000000</p>
                                    </div>
                                </div>
                                <div class="badge-img">
                                    <img class=" lazyloaded" data-src="https://nani88.com//storage/423/vip5.png" alt=""
                                        src="https://nani88.com//storage/423/vip5.png">
                                </div>
                            </div>
                            <div class="swiper-slide-shadow" style="opacity: 1;"></div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="6 / 6"
                            style="width: 400px; z-index: 1; transform: translate3d(calc(-2000px + 20%), 0px, -400px) rotateZ(8deg) scale(1);">
                            <div class="box">
                                <div class="info-vip">
                                    <div class="top-box">
                                        <div class="level">VIP 6</div>
                                        <p>VIP 6</p>
                                    </div>
                                    <div class="bottom-box">
                                        <p>Thưởng tháng = 588000</p>
                                        <p>Nạp tiền &gt;= 5000000000</p>
                                    </div>
                                </div>
                                <div class="badge-img">
                                    <img class=" lazyloaded" data-src="/web/nato888/storage/vip-icon/vip6.png" alt=""
                                        src="/web/nato888/storage/vip-icon/vip6.png">
                                </div>
                            </div>
                            <div class="swiper-slide-shadow" style="opacity: 1;"></div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"><span
                            class="swiper-pagination-bullet swiper-pagination-bullet-active"
                            aria-current="true"></span><span class="swiper-pagination-bullet"></span><span
                            class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                            class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                        aria-controls="swiper-wrapper-3788ecb9b1080d2b1" aria-disabled="false"></div>
                    <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button"
                        aria-label="Previous slide" aria-controls="swiper-wrapper-3788ecb9b1080d2b1"
                        aria-disabled="true"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
            <div class="vip-box">
                <div class="vip-privilege">
                    <h5>Đặc quyền VIP</h5>
                    <table>
                        <tbody>
                            <tr>
                                <th>Tên VIP</th>
                                <th>Quà thăng cấp</th>
                                <th>Bonus tháng</th>
                                <th>Bonus cứu trợ</th>
                            </tr>
                            <tr>
                                <td>VIP 1</td>
                                <td>68000</td>
                                <td>38000</td>
                                <td>0.7%</td>
                            </tr>
                            <tr>
                                <td>Vip 2</td>
                                <td>238000</td>
                                <td>68000</td>
                                <td>0.8%</td>
                            </tr>
                            <tr>
                                <td>VIP 3</td>
                                <td>388000</td>
                                <td>88000</td>
                                <td>0.9%</td>
                            </tr>
                            <tr>
                                <td>VIP 4</td>
                                <td>1380000</td>
                                <td>138000</td>
                                <td>1%</td>
                            </tr>
                            <tr>
                                <td>VIP 5</td>
                                <td>2888000</td>
                                <td>188000</td>
                                <td>1.2%</td>
                            </tr>
                            <tr>
                                <td>VIP 6</td>
                                <td>5888000</td>
                                <td>588000</td>
                                <td>1.5%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="vip-rules">
                    <h5>Quy tắc</h5>
                    <div class="img">
                        <img class=" lazyloaded" data-src="https://i.imgur.com/MJrPDz6.png" alt=""
                            src="https://i.imgur.com/MJrPDz6.png">
                    </div>
                    <h2>Chào mừng Quý thành viên đến với CLUB VIP của XOSO228!</h2>
                    <p><span>※ Đối tượng áp dụng: </span>Tất cả Hội viên của XOSO228 </p>
                    <p><span>※ Thời gian bắt đầu: </span>19-02-2022 </p>
                    <p><span>※ Nội dung khuyến mãi: </span>Với mong muốn mang lại cho Quý khách hàng những trải nghiệm
                        đẳng
                        cấp
                        và các ưu đãi đặc biệt VIP dành riêng cho Quý khách hàng luôn đồng hành và gắn bó
                        cùng XOSO228.
                        Chương
                        trình VIP CLUB của XOSO228 là chương trình khuyến mãi đặc biệt ưu đãi cho Quý thành viên
                        VIP dựa
                        điểm nạp
                        tích lũy và tổng cược hợp lệ tích luỹ của Quý thành viên, mỗi cấp bậc sẽ có từng mức ưu đãi khác
                        nhau và
                        cấp VIP càng cao nhận được càng nhiều ưu đãi.</p>
                    <p><span>※ Cách thăng cấp và nhận phần thưởng theo cấp VIP: </span>Khi đạt được tổng cược hợp lệ
                        tích
                        luỹ và tổng nạp tích luỹ như sau, Hệ thống tự động thăng cấp ngay khi đủ điều kiện VIP và tiến
                        hành
                        phát ưu đãi theo cấp bậc tương ứng.</p>


                    <p><span>※ Ví dụ: </span> Quý thành viên khi có tổng nạp là 12.000.000 điểm thì sẽ tương ứng với
                        VIP1,
                        nhận được phần quà thăng cấp là 68.000 điểm và thưởng hàng tháng là 18000 điểm.</p>
                    <p>※ Quà thăng cấp sẽ được tiến hành phát ngay khi Quý thành viên thăng cấp. Thưởng hàng tháng sẽ
                        được
                        phát vào 12h00 ngày 01 hàng tháng.Tất cả khuyến mãi chỉ yêu cầu 1 vòng cược là có thể rút
                        tiền.Khuyến mãi VIP không áp dụng cho xổ số.</p>
                    <p><span>※ Chú ý: </span>Với mỗi cấp bậc VIP, một thành viên chỉ nhận được khuyến mãi thăng cấp 1
                        lần
                        duy nhất cho mỗi cấp bậc.</p>
                    <p>※ Thành viên sau khi được thăng cấp trong vòng 90 ngày kể từ ngày thăng cấp phải duy trì cược hợp
                        lệ
                        duy trì tương ứng như trên mới có thể giữ nguyên cấp,nếu trong vòng 90 ngày không hoàn thành
                        cược
                        hợp lệ duy trì sẽ bị giáng xuống 1 cấp, và cứ tương tự như vậy.</p>
                    <p>※ Tất cả các chương trình ưu đãi của XOSO228 đều được thiết kế đặc biệt dành cho người chơi. Nếu
                        phát hiện bất kỳ nhóm hoặc cá nhân nào có hành vi gian lận để nhận tiền thưởng XOSO228 có quyền
                        đóng băng hoặc hủy bỏ tài khoản và số dư tài khoản của nhóm hoặc cá nhân đó.</p>
                    <p>※ XOSO228 có quyền giải thích cuối cùng về các sự kiện và quyền sửa đổi hoặc chấm dứt sự kiện mà
                        không cần thông báo, áp dụng đối với tất cả các ưu đãi.</p>
                </div>
            </div>

        </div>
    </div>

    <%- include('../../includes/footer') %>