<%- include('../../includes/header') %>

    <div ng-class="$ctrl.styles.content" class="BDw45cKhOY5X-HJyc5_2C SFR69aVbdwsdLFsXkLZAK">
        <div ng-class="$ctrl.styles.wrapper" class="_1h0fCbtWimc44r9dNSenvs _3erZk5kF87SUXDUp2Hh8MU">
            <!-- uiView: -->
            <ui-view class="ng-scope">
                <gupw-sample-lobby-layout class="ng-scope ng-isolate-scope">
                    <!-- uiView: -->
                    <ui-view class="ng-scope" style="">
                        <gupw-lobby-fish class="ng-scope ng-isolate-scope">
                            <section ng-class="$ctrl.styles['fish-banner']" class="_2t1uYq47AwenhU8mGvT1cm">
                                <div ng-class="$ctrl.styles.wrapper" class="_3erZk5kF87SUXDUp2Hh8MU">
                                    <img
                                        src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/6ec34f33bb5b6f5619145d7b3be758aa.png">
                                    <img
                                        src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/c6361b8679a52735468ceb1479c493bd.png">
                                    <img
                                        src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/453ec120d37a378f8bdcf995e2b13722.png">
                                    <img
                                        src="/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/8582909336f4e3457bc59254c3665f1f.png">
                                </div>
                            </section>
                            <div ng-class="$ctrl.styles.wrapper" class="_3erZk5kF87SUXDUp2Hh8MU">
                                <iframe ng-class="$ctrl.styles.iframe"
                                    src="/Lobby/Fish/list"></iframe>
                            </div>
                        </gupw-lobby-fish>
                    </ui-view>
                </gupw-sample-lobby-layout>
            </ui-view>
        </div>
    </div>
    
    <%- include('../../includes/footer') %>