<%- include('../../includes/header') %>
    <style>
        .bank-icon {
            width: 50px;
            height: 50px;
            margin-right: 5px;
            background-color: #f9a21f;
            -webkit-mask: url(/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/9f9c8df554bf188532e64d8387de062b.svg) no-repeat center;
            mask: url(/cdn/system-requirement/Web.PortalNew/UA531-01/c8e37fbb36/images/9f9c8df554bf188532e64d8387de062b.svg) no-repeat center;
        }
    </style>

    <div ng-class="$ctrl.styles.content" class="BDw45cKhOY5X-HJyc5_2C _2Qr8R07mMXKa3GCsGT1Jx0">
        <div ng-class="$ctrl.styles.wrapper" class="_1h0fCbtWimc44r9dNSenvs">
            <!-- uiView: -->
            <ui-view class="ng-scope">
                <gupw-member-center-layout class="ng-scope ng-isolate-scope">
                    <div class="gSkJpAc7IrbXlj3biLk1e">
                        <div class="_5kpYNqHFkQun8HWfr-YDg">

                            <!-- SIDEBAR MENU -->
                            <%- include('./sidebar') %>
                                <!-- END SIDEBAR MENU -->

                                <div ng-class="$ctrl.styles.detail" class="_1OOV-q3ssZv9VpaFEYYwdD">
                                    <ui-view class="ng-scope">
                                        <gupw-deposit class="ng-scope ng-isolate-scope">
                                            <article ng-class="$ctrl.styles.article" class="_3OLEXTdkyZ3OH8vf_E4_N0">
                                                <div class="ng-scope">
                                                    <gupw-deposit-methods class="ng-isolate-scope">
                                                        <div class="_1YrLHVe0eksXwask_nimCh">
                                                            <ul class="deposit-method-list">
                                                                <li class="ng-scope" data-method="bank-transfer-manual">
                                                                    <i class="ng-scope bank-icon"></i>
                                                                    <span class="ng-scope">
                                                                        Nạp tiền thủ công</span>
                                                                </li>
                                                                <li class="ng-scope" data-method="bank-transfer-auto">
                                                                    <i class="ng-scope qrcode"></i>
                                                                    <span class="ng-scope">Quét mã ngân
                                                                        hàng</span>
                                                                </li>
                                                                <li class="ng-scope" data-method="momo-transfer-auto">
                                                                    <i class="ng-scope momo"></i>
                                                                    <span class="ng-scope">
                                                                        Momo Pay</span>
                                                                </li>
                                                                <li class="ng-scope" data-method="zalo-transfer-auto">
                                                                    <i class="ng-scope zalo-pay"></i>
                                                                    <span class="ng-scope">ZaloPay</span>
                                                                </li>
                                                                <li class="ng-scope" data-method="card-transfer-auto">
                                                                    <i class="ng-scope scratch"></i>
                                                                    <span class="ng-scope">
                                                                        Thẻ
                                                                        Cào</span>
                                                                </li>
                                                                <li class="ng-scope"
                                                                    data-method="viettel-transfer-auto">
                                                                    <i class="ng-scope vt-pay"></i>
                                                                    <span class="ng-scope">VTPay</span>
                                                                </li>
                                                                <li class="ng-scope" data-method="usdt-transfer-auto">
                                                                    <i class="ng-scope usdt"></i>
                                                                    <span class="ng-scope">USDT</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </gupw-deposit-methods>


                                                    <!-- No Method Select -->
                                                    <gupw-online-deposit class="ng-isolate-scope no-method-select">
                                                        <div class="_3lsn-9-R1KxDnv9_koaEkC">
                                                            <div class="panel panel-default ng-scope">
                                                                <div class="panel-heading">
                                                                    <span class="ng-scope"></span>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <div class="alert alert-info">
                                                                        <i class="fa fa-info-circle"></i>
                                                                        <span class="ng-binding ng-scope">
                                                                            vui lòng
                                                                            chọn phương thức nạp
                                                                            tiền
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </gupw-online-deposit>


                                                    <!-- Bank Transfer Manual -->
                                                    <gupw-online-deposit
                                                        class="ng-isolate-scope bank-transfer-manual-form"
                                                        style="display: none;">
                                                        <div class="panel _3CMDGIALq8HDo4XBIBIB0c">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <form
                                                                            class="form-horizontal ng-valid _3GdzGvlVlZC4wGIHzMovTF ng-dirty ng-valid-parse">
                                                                            <fieldset class="ng-scope">
                                                                                <p>
                                                                                    <span class="ng-scope">
                                                                                        Chọn ngân hàng mà bạn muốn
                                                                                        chuyển khoản:
                                                                                    </span>
                                                                                </p>
                                                                                <select
                                                                                    class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched bank-provide-select">
                                                                                    <option value="" class="ng-scope">
                                                                                        vui lòng chọn ngân hàng
                                                                                    </option>
                                                                                </select>
                                                                            </fieldset>

                                                                            <fieldset class="ng-scope info-bank"
                                                                                style="padding: 15px;display: none;">
                                                                                <section class="ng-scope">



                                                                                    <div class="form-group ng-scope">
                                                                                        <label
                                                                                            class="control-label ng-binding">
                                                                                            Chủ
                                                                                            tài khoản</label>
                                                                                        <input type="text"
                                                                                            class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                            readonly id="bankName">
                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <label
                                                                                            class="control-label ng-scope">
                                                                                            Số tài khoản
                                                                                        </label>
                                                                                        <input
                                                                                            class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                            type="text" id="bankNumber"
                                                                                            readonly>
                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <label
                                                                                            class="control-label ng-scope">
                                                                                            Nội dung chuyển khoản
                                                                                        </label>
                                                                                        <input
                                                                                            class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                            type="text" id="content"
                                                                                            readonly>
                                                                                    </div>
                                                                                </section>
                                                                            </fieldset>

                                                                            <fieldset style="padding: 15px;">
                                                                                <div class="form-group">
                                                                                    <p><span class="ng-scope">
                                                                                            Số tiền yêu cầu nạp:</span>
                                                                                    </p>
                                                                                    <div class="input-group">
                                                                                        <div
                                                                                            class="input-group-addon ng-binding">
                                                                                            <span
                                                                                                class="input-group-text"
                                                                                                id="basic-addon1">Tiền
                                                                                                nạp (VND)</span>
                                                                                        </div>
                                                                                        <input type="text" id="amount"
                                                                                            class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                            placeholder="Vui lòng nhập số tiền">
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>

                                                                            <fieldset style="padding: 15px;">
                                                                                <div class="form-group">
                                                                                    <p><span class="ng-scope">
                                                                                            Ngân hàng mà bạn sử dụng để
                                                                                            gửi tiền:</span>
                                                                                    </p>
                                                                                    <div class="input-group">
                                                                                        <select
                                                                                            class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched bank-provide-user-select">
                                                                                            <option value=""
                                                                                                class="ng-scope">
                                                                                                vui lòng chọn ngân hàng
                                                                                            </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>

                                                                            <fieldset style="padding: 15px;">
                                                                                <div class="form-group">
                                                                                    <p><span class="ng-scope">
                                                                                            Chủ tài khoản gửi
                                                                                            tiền:</span></p>
                                                                                    <div class="input-group">
                                                                                        <div
                                                                                            class="input-group-addon ng-binding">
                                                                                            <span
                                                                                                class="input-group-text"
                                                                                                id="basic-addon1">Chủ
                                                                                                tài khoản:</span>
                                                                                        </div>
                                                                                        <input type="text"
                                                                                            id="bankNameUser"
                                                                                            class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                            placeholder="Vui lòng nhập tên chủ tài khoản">
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>

                                                                            <fieldset style="padding: 15px;">
                                                                                <div class="form-group">
                                                                                    <p><span class="ng-scope">
                                                                                            Số tài khoản gửi
                                                                                            tiền:</span></p>
                                                                                    <div class="input-group">
                                                                                        <div
                                                                                            class="input-group-addon ng-binding">
                                                                                            <span
                                                                                                class="input-group-text"
                                                                                                id="basic-addon1">Số tài
                                                                                                khoản:</span>
                                                                                        </div>
                                                                                        <input type="number"
                                                                                            id="bankNumberUser"
                                                                                            class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                            placeholder="Vui lòng nhập số tài khoản">
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>

                                                                            <fieldset style="padding: 15px;">
                                                                                <div class="form-group">
                                                                                    <p><span class="ng-scope">
                                                                                            Mã giao dịch gửi tiền (Không
                                                                                            bắt buộc):</span></p>
                                                                                    <div class="input-group">
                                                                                        <div
                                                                                            class="input-group-addon ng-binding">
                                                                                            <span
                                                                                                class="input-group-text"
                                                                                                id="basic-addon1">Mã
                                                                                                giao dịch:</span>
                                                                                        </div>
                                                                                        <input type="number"
                                                                                            id="transIdDeposit"
                                                                                            class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                            placeholder="Vui lòng nhập mã giao dịch">
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>

                                                                            <fieldset
                                                                                style="margin-top: 30px;margin-bottom: 30px;"
                                                                                class="text-left">
                                                                                <p>
                                                                                    <span class="ng-scope">
                                                                                        Chọn ngân hàng và chuyển khoản
                                                                                        theo thông tin hiện ra, sau khi
                                                                                        <br>thực hiện
                                                                                        chuyển khoản xong vui lòng điền
                                                                                        đầy đủ thông tin còn lại và <br>
                                                                                        nhấn
                                                                                        Xác nhận đã thanh toán!
                                                                                    </span>
                                                                                </p>
                                                                            </fieldset>

                                                                            <div>
                                                                                <button type="button"
                                                                                    class="btn ng-scope _3J1NHh0Zndn3-YUPwUyPhw btn-submit-deposit">
                                                                                    Xác nhận đã thanh toán
                                                                                </button>
                                                                            </div>

                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </gupw-online-deposit>

                                                    <!-- Bank Transfer Auto -->
                                                    <gupw-online-deposit
                                                        class="ng-isolate-scope bank-transfer-auto-form"
                                                        style="display: none;">
                                                        <div class="panel _3CMDGIALq8HDo4XBIBIB0c">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <form
                                                                            class="form-horizontal ng-valid _3GdzGvlVlZC4wGIHzMovTF ng-dirty ng-valid-parse">
                                                                            <fieldset class="ng-scope">
                                                                                <p>
                                                                                    <span class="ng-scope">
                                                                                        Chọn ngân hàng mà bạn muốn
                                                                                        chuyển khoản:
                                                                                    </span>
                                                                                </p>
                                                                                <select
                                                                                    class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched auto-bank-provide-select">
                                                                                    <option value="" class="ng-scope">
                                                                                        vui lòng chọn ngân hàng
                                                                                    </option>
                                                                                </select>
                                                                            </fieldset>

                                                                            <fieldset class="ng-scope info-bank"
                                                                                style="padding: 15px;display: none;">
                                                                                <section class="ng-scope">



                                                                                    <div class="form-group ng-scope">
                                                                                        <label
                                                                                            class="control-label ng-binding">
                                                                                            Chủ
                                                                                            tài khoản</label>
                                                                                        <input type="text"
                                                                                            class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                            readonly id="bankName">
                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <label
                                                                                            class="control-label ng-scope">
                                                                                            Số tài khoản
                                                                                        </label>
                                                                                        <input
                                                                                            class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                            type="text" id="bankNumber"
                                                                                            readonly>
                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <label
                                                                                            class="control-label ng-scope">
                                                                                            Nội dung chuyển khoản
                                                                                        </label>
                                                                                        <input
                                                                                            class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                            type="text" id="content"
                                                                                            readonly>
                                                                                    </div>
                                                                                </section>
                                                                            </fieldset>

                                                                            <fieldset style="padding: 15px;">
                                                                                <div class="form-group">
                                                                                    <p><span class="ng-scope">
                                                                                            Số tiền yêu cầu nạp:</span>
                                                                                    </p>
                                                                                    <div class="input-group">
                                                                                        <div
                                                                                            class="input-group-addon ng-binding">
                                                                                            <span
                                                                                                class="input-group-text"
                                                                                                id="basic-addon1">Tiền
                                                                                                nạp (VND)</span>
                                                                                        </div>
                                                                                        <input type="text"
                                                                                            id="auto-amount"
                                                                                            class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                            placeholder="Vui lòng nhập số tiền">
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>



                                                                            <div>
                                                                                <button type="button"
                                                                                    class="btn ng-scope _3J1NHh0Zndn3-YUPwUyPhw auto-btn-submit-deposit">
                                                                                    Tạo Yêu Cầu Nạp Tiền
                                                                                </button>
                                                                            </div>

                                                                            <div class="auto-bank-info-container"
                                                                                style="display: none;">
                                                                                <div style="margin-top:20px;"></div>

                                                                                <fieldset style="padding: 15px;">
                                                                                    <div class="form-group">
                                                                                        <p><span class="ng-scope">
                                                                                                Quét mã QrCode trong App
                                                                                                Banking:</span></p>
                                                                                        <div class="qrcode">
                                                                                            <img id="auto-info-qrcode"
                                                                                                style="width: 30%; height: auto;"
                                                                                                src=""
                                                                                                class="img img-thumbnail" />
                                                                                        </div>
                                                                                    </div>
                                                                                </fieldset>

                                                                                <fieldset style="padding: 15px;">
                                                                                    <div class="form-group">
                                                                                        <p><span class="ng-scope">
                                                                                                Chủ tài khoản nhận
                                                                                                tiền:</span></p>
                                                                                        <div class="input-group">
                                                                                            <div
                                                                                                class="input-group-addon ng-binding">
                                                                                                <span
                                                                                                    class="input-group-text"
                                                                                                    id="basic-addon1">Chủ
                                                                                                    tài khoản:</span>
                                                                                            </div>
                                                                                            <input type="text" disabled
                                                                                                id="auto-info-bankName"
                                                                                                class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                                placeholder="Vui lòng nhập tên chủ tài khoản">
                                                                                        </div>
                                                                                    </div>
                                                                                </fieldset>

                                                                                <fieldset style="padding: 15px;">
                                                                                    <div class="form-group">
                                                                                        <p><span class="ng-scope">
                                                                                                Số tài khoản nhận
                                                                                                tiền:</span></p>
                                                                                        <div class="input-group">
                                                                                            <div
                                                                                                class="input-group-addon ng-binding">
                                                                                                <span
                                                                                                    class="input-group-text"
                                                                                                    id="basic-addon1">Số
                                                                                                    tài
                                                                                                    khoản:</span>
                                                                                            </div>
                                                                                            <input type="number"
                                                                                                disabled
                                                                                                id="auto-info-bankAccount"
                                                                                                class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                                placeholder="Vui lòng nhập số tài khoản">
                                                                                        </div>
                                                                                    </div>
                                                                                </fieldset>

                                                                                <fieldset style="padding: 15px;">
                                                                                    <div class="form-group">
                                                                                        <p><span class="ng-scope">
                                                                                                Nội dung gửi tiền
                                                                                                (bắt buộc):</span></p>
                                                                                        <div class="input-group">
                                                                                            <div
                                                                                                class="input-group-addon ng-binding">
                                                                                                <span
                                                                                                    class="input-group-text"
                                                                                                    id="basic-addon1">Nội
                                                                                                    dung:</span>
                                                                                            </div>
                                                                                            <input type="text" disabled
                                                                                                id="auto-info-content"
                                                                                                class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                                placeholder="Nội dung chyển khoản">
                                                                                        </div>
                                                                                    </div>
                                                                                </fieldset>

                                                                                <fieldset
                                                                                    style="margin-top: 30px;margin-bottom: 30px;"
                                                                                    class="text-left">
                                                                                    <p>
                                                                                        <span class="ng-scope">Thực hiện
                                                                                            chuyển khoản theo đúng các
                                                                                            thông tin, nếu sai sẽ không
                                                                                            được hoàn tiền
                                                                                        </span>
                                                                                    </p>
                                                                                </fieldset>
                                                                            </div>


                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </gupw-online-deposit>

                                                    <!-- Momo Transfer Auto -->
                                                    <gupw-online-deposit
                                                        class="ng-isolate-scope momo-transfer-auto-form"
                                                        style="display: none;">
                                                        <div class="panel _3CMDGIALq8HDo4XBIBIB0c">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <form
                                                                            class="form-horizontal ng-valid _3GdzGvlVlZC4wGIHzMovTF ng-dirty ng-valid-parse">

                                                                            <fieldset style="padding: 15px;">
                                                                                <div class="form-group">
                                                                                    <p><span class="ng-scope">
                                                                                            Số tiền yêu cầu nạp:</span>
                                                                                    </p>
                                                                                    <div class="input-group">
                                                                                        <div
                                                                                            class="input-group-addon ng-binding">
                                                                                            <span
                                                                                                class="input-group-text"
                                                                                                id="basic-addon1">Tiền
                                                                                                nạp (VND)</span>
                                                                                        </div>
                                                                                        <input type="text"
                                                                                            id="momo-amount"
                                                                                            class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                                                                            placeholder="Vui lòng nhập số tiền">
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>

                                                                            <div>
                                                                                <button type="button"
                                                                                    class="btn ng-scope _3J1NHh0Zndn3-YUPwUyPhw momo-btn-submit-deposit">
                                                                                    Tạo Yêu Cầu Nạp Tiền
                                                                                </button>
                                                                            </div>

                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </gupw-online-deposit>
                                                </div>
                                            </article>
                                        </gupw-deposit>
                                    </ui-view>
                                </div>


                        </div>
                    </div>
                </gupw-member-center-layout>
            </ui-view>
        </div>
    </div>

    <script src="/core/js/account/deposit.js"></script>
    <data-script id="scriptMethod"></data-script>
    <%- include('../../includes/footer') %>