<%- include('../../includes/header') %>

    <div id="body-web-register">

        <div class="main-wrap">
            <div class="video-block">
                <video autoplay="" style="width:100%">
                    <source type="video/mp4" src="https://nani88.com/web/Images/register/jun88.mp4">
                </video>
            </div>
            <div class="register-block">
                <div class="register-container">
                    <div class="head">
                        <h3>Đăng ký tài khoản</h3>
                    </div>
                    <div class="body">
                        <form id="registerform" class="registerform" method="POST">
                            <dl id="groupUsername">
                                <dt><span>*</span> Tên người dùng :</dt>
                                <dd style="">
                                    <input class="trimVal alphanumeric" type="text" id="registerform_UserName"
                                        name="username" placeholder="Tên người dùng" pattern="[a-zA-Z0-9]{5,12}"
                                        oninvalid="this.setCustomValidity('Không đúng định dạng! Vui lòng nhập lại')"
                                        onchange="try{setCustomValidity('')}catch(e){}" oninput="setCustomValidity(' ')"
                                        value="" required="">
                                    <span class="remind">Vui lòng nhập id người chơi đăng ký, 5 - 12 ký tự</span>
                                </dd>

                            </dl>
                            <dl id="groupPassword">
                                <dt><span>*</span>Mật khẩu :</dt>
                                <dd style="">
                                    <input class="Password trimVal alphapwd" type="password" id="registerform_Password"
                                        name="password" placeholder="Mật khẩu" value=""
                                        onchange="try{setCustomValidity('')}catch(e){}" oninput="setCustomValidity(' ')"
                                        required="">
                                    <span>Mật khẩu phải từ 8~20 ký tự, bao gồm chữ và số(không có ký tự đặc biệt)</span>
                                </dd>

                            </dl>
                            <dl id="groupComfirmPassword">
                                <dt><span>*</span>Xác nhận Mật Khẩu :</dt>
                                <dd style="">
                                    <input class="CPassword trimVal alphapwd" type="password"
                                        id="registerform_CPassword" name="CPassword" placeholder="Xác nhận Mật Khẩu"
                                        required="">
                                    <span class="warning">
                                        Vui lòng nhập lại mật khẩu.</span>
                                </dd>

                            </dl>
                            <dl id="groupFullName">
                                <dt><span>*</span>Họ và tên :</dt>
                                <dd>
                                    <input style="margin-top:0px;" type="text" id="registerform_FullName"
                                        name="fullname" placeholder="Họ và tên" value=""
                                        oninvalid="this.setCustomValidity('Điền đầy đủ thông tin')"
                                        onchange="try{setCustomValidity('')}catch(e){}" oninput="setCustomValidity(' ')"
                                        required="">
                                    <span>Họ và tên phải được viết hoa và cách nhau bằng dấu cách, phải trùng với tên
                                        trên thẻ
                                        ngân hàng</span>
                                </dd>
                            </dl>
                            <dl id="groupMobileNumber">
                                <dt><span>*</span>Số Điện thoại :</dt>
                                <dd>
                                    <input class="numbers" type="text" id="registerform_Mobile" name="uphone"
                                        placeholder="VD: 0936552552" value="" pattern="^[0-9]{8,16}$"
                                        oninvalid="this.setCustomValidity('Số điện thoại từ 8-16 số')"
                                        onchange="try{setCustomValidity('')}catch(e){}" oninput="setCustomValidity(' ')"
                                        required="">
                                </dd>
                            </dl>
                            <dl id="groupEmail">
                                <dt><span>*</span>Địa chỉ Email :</dt>
                                <dd>
                                    <input class="numbers" type="text" id="registerform_Email" name="uemail"
                                        placeholder="VD: jameroy@gmail.com" value=""
                                        pattern="[a-z0-9]+@[a-z]+\.[a-z]{2,3}"
                                        oninvalid="this.setCustomValidity('Địa chỉ email không hợp lệ')"
                                        onchange="try{setCustomValidity('')}catch(e){}" oninput="setCustomValidity(' ')"
                                        required="">
                                </dd>
                            </dl>
                            <dl id="groupAffiliate">
                                <dt><span>*</span>Mã đại lý :</dt>
                                <dd><input type="text" id="refcode" name="affiliate_id" placeholder="Mã đại lý (nếu có)"
                                        value="">
                                </dd>
                            </dl>

                            <dl id="groupSubmit">
                                <dt></dt>
                                <dd>
                                    <button type="submit" id="submitRegisterForm"
                                        style="background-image: linear-gradient(90deg, #cb0d0d, #510603); border: 0; border-radius: 22.5px; color: #fff; cursor: pointer; font-size: 16px; height: 45px; width: 220px; margin: 0px auto;">Đăng
                                        ký ngay</button>
                                </dd>
                            </dl>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }

        $(document).ready(() => {
            const checkRef = findGetParameter('refcode');
            if (checkRef) {
                $('#refcode').val(checkRef);
                $('#refcode').attr("readonly", true);
                $('#refcode').attr("style", "background-color: #e6e5e5");
            }

            //$('#groupAffiliate').hide();
            //$('#groupEmail').hide();
            $('#registerform_Email').val(`guest000${RandomUserName(8).toLowerCase()}@gmail.com`);
        });

        $('button[id="submitRegisterForm"]').on('click', () => {
            if (!$('#registerform_UserName').val() ||
                !$('#registerform_Password').val() ||
                !$('#registerform_CPassword').val() ||
                !$('#registerform_FullName').val() ||
                !$('#registerform_Email').val() ||
                !$('#registerform_Mobile').val()) {
                alert('Vui lòng nhập đầy đủ thông tin!');
                return;
            }

            const testUsername = new RegExp('^[a-zA-Z0-9]+$');
            const testName = new RegExp("^[a-zA-Z \s\.\!\?\"\-]+$");
            const testEmail = new RegExp("[a-z0-9]+@[a-z]+\.[a-z]{2,3}");

            // validate input type  
            if (!testUsername.test($('#registerform_UserName').val())) {
                alert('Tên tài khoản không hợp lệ!');
                return;
            }
            if (!testName.test($('#registerform_FullName').val())) {
                alert('Họ và tên không hợp lệ!');
                return;
            }
            if (!testEmail.test($('#registerform_Email').val())) {
                alert('Email không hợp lệ');
                return;
            }

            // validate string length
            if ($('#registerform_UserName').val().length < 5 || $('#registerform_UserName').val().length > 20) {
                alert('Tên tài khoản không được nhỏ hơn 5 và lớn hơn 20 ký tự');
                return;
            }
            if ($('#registerform_FullName').val().length <= 5 || $('#registerform_FullName').val().length > 50) {
                alert('Họ và tên không được nhỏ hơn 5 và lớn hơn 50 ký tự');
                return;
            }
            if ($('#registerform_Email').val().length < 5 || $('#registerform_Email').val().length > 50) {
                alert('Email không hợp lệ');
                return;
            }
            if ($('#registerform_Mobile').val().length < 9 || $('#registerform_Mobile').val().length > 15) {
                alert('Số điện thoại không hợp lệ');
                return;
            }
            if ($('#registerform_Password').val().length < 5 || $('#registerform_Password').val().length > 30) {
                alert('Mật khẩu không được nhỏ hơn 8 và lớn hơn 20 ký tự');
                return;
            }
            if ($('#registerform_Password').val() !== $('#registerform_CPassword').val()) {
                alert('2 mật khẩu không khớp!   ');
                return;
            }

            $('button[id="submitRegisterForm"]').prop("disabled", true);
            $('button[id="submitRegisterForm"]').css({ "color": "#fff" });
            $('button[id="submitRegisterForm"]').html(`Vui lòng chờ...`);

            try {
                $.ajax({
                    "url": "/auth/register",
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "data": JSON.stringify({
                        "name": $('#registerform_FullName').val(),
                        "username": $('#registerform_UserName').val(),
                        "refcode": (!$('#refcode').val()) ? null : $('#refcode').val(),
                        "email": $('#registerform_Email').val(),
                        "phone": $('#registerform_Mobile').val(),
                        "password": $('#registerform_Password').val()
                    }),
                }).done(function (response) {
                    $('button[id="submitRegisterForm"]').prop("disabled", false);
                    $('button[id="submitRegisterForm"]').css({ "color": "#fff" });
                    $('button[id="submitRegisterForm"]').html(`Đăng ký ngay`);

                    if (response.status) {
                        alert("Đăng ký thành công!");
                        setTimeout(() => {
                            window.location = "/";
                        }, 500);
                    } else {
                        alert(response.msg);
                    }
                });
            } catch (e) {
                console.log('Có lỗi xảy ra, vui lòng thử lại!');
            }
        });

    </script>

    <%- include('../../includes/footer') %>