@keyframes spinner-rotate {
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

._32BGGm53XyuQqbr3GBlW0b>div {
    user-select: none;
    margin: auto;
    width: 100%;
    height: 600px;
}

.row-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #111212;
    overflow: hidden;
}

.iframe-row {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}

.full-screen-icon {
    cursor: pointer;
    margin-top: 5px;
    position: absolute;
    /* background-color: #955029; */
    background: url("/core/images/button/btn_squre.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
    right: 10;
    width: 64px;
    height: 64px;
}

.sound-audio-icon {
    cursor: pointer;
    background: url("/core/images/button/btn_offnotification.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
    margin-top: 5px;
    position: absolute;
    right: 78;
    width: 66px;
    height: 66px;
}

.dot-board-icon {
    cursor: pointer;
    position: absolute;
    background: url(/core/images/button/btn_check.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    margin-top: 3px;
    right: 146;
    width: 71px;
    height: 71px;
}

.node-dot-line-1 {
    position: absolute;
    top: 25.5%;
    right: 3%;
    width: 94.2%;
    height: 62%;
    /* background-color: #ff450f; */
    /* opacity: 0.2; */
}

.node-dot-line-1>.dot {
    position: absolute;
    width: 5%;
    height: 20%;
}

.node-dot-line-1>.dot>.dot-point {
    font-family: cursive;
    text-align: center;
    color: #000;
    font-weight: 700;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.close-dot-board-icon {
    cursor: pointer;
    position: absolute;
    background: url(https://i.imgur.com/1JGoadd.png) no-repeat;
    background-size: contain;
    right: 5;
    top: 5px;
    width: 44px;
    height: 44px;
}


.history-icon {
    cursor: pointer;
    margin-top: 6px;
    position: absolute;
    background: url(/core/images/button/btn_history.png) no-repeat;
    background-size: cover;
    left: 5;
    width: 66px;
    height: 66px;
}

.tutorial-icon {
    cursor: pointer;
    margin-top: 6px;
    position: absolute;
    background: url(/core/images/button/btn_question.png) no-repeat;
    background-size: cover;
    left: 77;
    width: 66px;
    height: 66px;
}

.board-node-bet-container {
    position: absolute;
    width: 55%;
    height: 200px;
    bottom: 16%;
    /* border: 1px solid #00ea00; */
    /* background-color: aqua; */
    left: 50%;
    transform: translate(-50%, 0);
    /* opacity: 0.2; */
}

.board-node-select-chip-container {
    z-index: 1;
    position: absolute;
    width: 1081px;
    height: 110px;
    bottom: 4%;
    /* border: 1px solid #1900ff; */
    /* background-color: aqua; */
    left: 50%;
    transform: translate(-50%, 0);
    /* opacity: 0.2; */
}

.node-time-remain {
    position: absolute;
    right: 20%;
    bottom: 50%;
    width: 100px;
    height: 100px;
    /* background-color: #00ea00; */
}

.node-time-remain>.node-bg-time-remain {
    position: absolute;
    background: url("https://i.imgur.com/bCzv4Ez.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
    width: 100%;
    height: 100%;
}



.node-time-remain>.node-spinner-time-remain {
    position: absolute;
    background: url("https://i.imgur.com/gZ8TdTg.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.node-time-remain>.node-spinner-time-remain {
    -webkit-animation: spinner-rotate 1s infinite;
    -moz-animation: spinner-rotate 1s infinite;
    -ms-animation: spinner-rotate 1s infinite;
    animation: spinner-rotate 1s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear
}

.animate-flicker {
    -webkit-animation: flickerAnimation .5s infinite;
    -moz-animation: flickerAnimation .5s infinite;
    -o-animation: flickerAnimation .5s infinite;
    animation: flickerAnimation .5s infinite;
}

.node-time-remain>.node-text-time-remain {
    font-family: 'Saira Semi Condensed', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ff450f;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 47px;
    font-weight: 600;
    margin: 15% 0% 0% 0%;
    color: rgb(255 214 9);
    text-align: center;
}

.footer-node-container {
    position: absolute;
    width: 100%;
    height: 110px;
    bottom: 0%;
    /* border: 1px solid #c91a1a; */
    /* background-color: aqua; */
    left: 50%;
    transform: translate(-50%, 0);
    /* opacity: 0.2; */
}

.node-current-balance {
    position: absolute;
    transition: transform .2s;
    background: url("https://i.imgur.com/Hj69h7l.png") no-repeat scroll 0 0 transparent;
    width: 213px;
    height: 45px;
    left: 0%;
    bottom: 0%;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 13px;
    display: flex;
    justify-content: flex-start;
}

.node-current-round-id {
    position: absolute;
    transition: transform .2s;
    background: url("https://i.imgur.com/2JFRylL.png") no-repeat scroll 0 0 transparent;
    width: 213px;
    height: 45px;
    right: 0%;
    bottom: 0%;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 13px;
    display: flex;
    justify-content: flex-end;
}

.fast-notify {
    font-family: 'Play', sans-serif;
    position: absolute;
    transition: transform .2s;
    background: url(https://i.imgur.com/bFYFj7I.png) no-repeat 0 0 transparent;
    background-size: contain;
    background-position: center;
    width: 947px;
    height: 96px;
    top: 69%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(247, 210, 26);
    font-size: 33px;
    font-weight: 600;
    padding: 23px;
    text-align: center;
}

.fast-notify-client {
    font-family: 'Play', sans-serif;
    position: absolute;
    right: 0;
    top: 10%;
}

.node-player {
    position: absolute;
    cursor: pointer;
    transition: transform .1s;
    background: url("https://i.imgur.com/nB39MoJ.png") no-repeat scroll 0 0 transparent;
    width: 240px;
    height: 90px;
    left: 5%;
    top: 4%;
    text-align: center;
    padding: 5px;
}

.node-player>.current-amount {
    font-size: 18px;
    font-weight: 600;
    color: #ffe300;
}

.node-player-double {
    position: absolute;
    cursor: pointer;
    transition: transform .1s;
    background: url("https://i.imgur.com/vnGt436.png") no-repeat scroll 0 0 transparent;
    width: 240px;
    height: 90px;
    left: 3%;
    bottom: 0%;
    text-align: center;
    padding: 3px 1px 0px 0px;
}

.node-player-double>.current-amount {
    font-size: 16px;
    font-weight: 600;
    color: #ffe300;
}

.node-banker {
    position: absolute;
    cursor: pointer;
    transition: transform .1s;
    background: url("https://i.imgur.com/beZ9xp8.png") no-repeat scroll 0 0 transparent;
    width: 240px;
    height: 90px;
    right: 5%;
    top: 4%;
    text-align: center;
    padding: 5px 18px 0px 0px;
}

.node-banker>.current-amount {
    font-size: 16px;
    font-weight: 600;
    color: #ffe300;
}

.node-banker-double {
    position: absolute;
    cursor: pointer;
    transition: transform .1s;
    background: url("https://boc6.fun/assets/bacaratlive/native/1c/1cc384b9-7482-4e2d-b1db-3736ba9f142b.fc762.png") no-repeat scroll 0 0 transparent;
    width: 240px;
    height: 90px;
    right: 3%;
    bottom: 0%;
    text-align: center;
    padding: 3px 15px 0px 0px;
}

.node-banker-double>.current-amount {
    font-size: 18px;
    font-weight: 600;
    color: #ffe300;
}

.node-draw {
    position: absolute;
    cursor: pointer;
    transition: transform .1s;
    background: url("https://boc6.fun/assets/bacaratlive/native/2a/2ae24f7b-e934-4bd6-beb7-845c554bef7c.c58fb.png") no-repeat scroll 0 0 transparent;
    width: 240px;
    height: 100px;
    left: 27%;
    bottom: 0%;
    text-align: center;
    padding: 5px;
}

.node-draw>.current-amount {
    font-size: 18px;
    font-weight: 600;
    color: #ffe300;
}

.node-super {
    position: absolute;
    cursor: pointer;
    transition: transform .1s;
    background: url("https://boc6.fun/assets/bacaratlive/native/19/19b2941a-5a3f-47f0-a27b-cc7d7437dc33.08869.png") no-repeat scroll 0 0 transparent;
    width: 240px;
    height: 100px;
    right: 27%;
    bottom: 0%;
    text-align: center;
    padding: 5px;
}

.node-super>.current-amount {
    font-size: 18px;
    font-weight: 600;
    color: #ffe300;
}

/* .node-player:hover,
.node-player-double:hover,
.node-banker:hover,
.node-banker-double:hover,
.node-draw:hover,
.node-super:hover {
    transform: scale(1.1);
} */

.node-win-player {
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
    background: url("https://boc6.fun/assets/bacaratlive/native/dd/ddfd4a1d-de2f-4afc-b17c-7fbd1b5629a6.18510.png") no-repeat scroll 0 0 transparent;
    width: 266px;
    height: 122px;
    left: 3.3%;
    top: -8%;
}

.node-win-player-double {
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
    background: url("https://boc6.fun/assets/bacaratlive/native/dd/ddfd4a1d-de2f-4afc-b17c-7fbd1b5629a6.18510.png") no-repeat scroll 0 0 transparent;
    width: 266px;
    height: 122px;
    left: 1.3%;
    bottom: -4%;
}

.node-win-banker {
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
    background: url("https://boc6.fun/assets/bacaratlive/native/19/19fb3c61-596c-4ef2-8150-e64ea0ddc540.54b5b.png") no-repeat scroll 0 0 transparent;
    width: 266px;
    height: 122px;
    right: 4.3%;
    top: -8%;
}

.node-win-banker-double {
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
    background: url("https://boc6.fun/assets/bacaratlive/native/19/19fb3c61-596c-4ef2-8150-e64ea0ddc540.54b5b.png") no-repeat scroll 0 0 transparent;
    width: 266px;
    height: 122px;
    right: 2.2%;
    bottom: -4%;
}

.node-win-draw {
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
    background: url("https://boc6.fun/assets/bacaratlive/native/37/37156404-390f-43a3-96b5-7b2f63ebbc4a.1cbe1.png") no-repeat scroll 0 0 transparent;
    width: 266px;
    height: 128px;
    left: 25.2%;
    bottom: -2%;
}

.node-win-super {
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
    background: url("https://boc6.fun/assets/bacaratlive/native/49/493e80bf-d03f-49cd-adc8-6f532147447b.1071a.png") no-repeat scroll 0 0 transparent;
    width: 266px;
    height: 128px;
    right: 26.4%;
    bottom: -2%;
}


.node-chip-1 {
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
    background: url("https://boc6.fun/assets/bacaratlive/native/5d/5db91a12-906c-42ea-890c-b5873834403a.d3a9d.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    width: 70px;
    height: 70px;
    left: 27%;
    bottom: 13%;
}

.node-chip-10 {
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
    background: url("https://boc6.fun/assets/bacaratlive/native/ba/ba5a0253-e53b-4d6e-87a5-a1162b873587.08688.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    width: 70px;
    height: 70px;
    left: 37%;
    bottom: 13%;
}

.node-chip-100 {
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
    background: url("https://boc6.fun/assets/bacaratlive/native/f3/f35f1173-f891-4ca8-a288-bf7e38d9dbcc.ab6ab.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    width: 70px;
    height: 70px;
    left: 47%;
    bottom: 13%;
}

.node-chip-1000 {
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
    background: url("https://boc6.fun/assets/bacaratlive/native/2c/2c788098-a6d2-4b4d-9e77-6da6cbfb0265.53ea2.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    width: 70px;
    height: 70px;
    left: 57%;
    bottom: 13%;
}

.node-chip-10000 {
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
    background: url("https://boc6.fun/assets/bacaratlive/native/bf/bf278071-feee-4952-a93d-260493fe1870.f6a84.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    width: 70px;
    height: 70px;
    left: 67%;
    bottom: 13%;
}

.node-chip-reset {
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
    background: url("https://i.imgur.com/3mbRVtt.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    width: 180px;
    height: 70px;
    left: 4%;
    bottom: 13%;
}

.node-chip-confirm {
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
    background: url("https://i.imgur.com/y3YRGCN.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    width: 180px;
    height: 70px;
    right: 4%;
    bottom: 13%;
}

/* .node-chip-1:hover,
.node-chip-10:hover,
.node-chip-100:hover,
.node-chip-1000:hover,
.node-chip-10000:hover {
    transform: scale(1.2);
} */

.node-chip-1.active,
.node-chip-10.active,
.node-chip-100.active,
.node-chip-1000.active,
.node-chip-10000.active {
    scale: 1.3;
}

.card-result-container {
    position: absolute;
    width: 45vh;
    height: 35vh;
    top: 19%;
    left: -15%;
    transform: translate(-50%, 0);
    /* border: 1px solid #ff450f; */
}

.node-dot-board-container {
    position: absolute;
    width: 70vh;
    height: 26.5vh;
    top: 8%;
    right: -14%;
    background: url(/core/images/table/table_dot_line.png) no-repeat scroll 0 0 transparent;
    background-size: cover;
    transform: translate(-50%, 0);
    /* border: 1px solid #ff450f; */
}

.node-card-player {
    position: absolute;
    transition: transform .2s;
    background: url(https://i.imgur.com/bx61rJD.png) no-repeat scroll 0 0 transparent;
    background-size: cover;
    border-radius: 4%;
    width: 49%;
    height: 100%;
    bottom: 13%;
    left: 0;
    top: 0;
}

.node-card-player>.node-total-point {
    position: absolute;
    transition: transform .2s;
    background: url(https://i.imgur.com/QzVzYY6.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    width: 27%;
    height: 17%;
    bottom: 26%;
    left: 36%;
}

.node-card-player>.node-total-point>.node-total-point-text {
    font-family: 'Saira Semi Condensed', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ff450f;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2.1vw;
    font-weight: 600;
    color: rgb(255 214 9);
    text-align: center;
}

.node-card-player>.node-card-player-card1 {
    position: absolute;
    transition: transform .2s;
    background: url(https://tekeye.uk/playing_cards/images/svg_playing_cards/backs/png_96_dpi/red2.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    border-radius: 4%;
    width: 45%;
    height: 45%;
    left: 3%;
    top: 25%;
}

.node-card-player>.node-card-player-card2 {
    position: absolute;
    transition: transform .2s;
    background: url(https://tekeye.uk/playing_cards/images/svg_playing_cards/backs/png_96_dpi/red2.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    border-radius: 4%;
    width: 45%;
    height: 45%;
    right: 3%;
    top: 25%;
}

.node-card-player>.node-card-player-card3 {
    position: absolute;
    transform: rotate(-90deg);
    transition: transform .2s;
    background: url(https://tekeye.uk/playing_cards/images/svg_playing_cards/backs/png_96_dpi/red2.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    border-radius: 4%;
    width: 45%;
    height: 45%;
    bottom: -4%;
    left: 30%;
}

.node-card-banker {
    position: absolute;
    transition: transform .2s;
    background: url(https://i.imgur.com/XIB8mu1.png) no-repeat scroll 0 0 transparent;
    background-size: cover;
    border-radius: 4%;
    width: 49%;
    height: 100%;
    bottom: 13%;
    right: 0;
    top: 0;
}

.node-card-banker>.node-total-point {
    position: absolute;
    transition: transform .2s;
    background: url(https://i.imgur.com/QzVzYY6.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    width: 27%;
    height: 17%;
    bottom: 26%;
    left: 36%;
}

.node-card-banker>.node-total-point>.node-total-point-text {
    font-family: 'Saira Semi Condensed', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ff450f;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2.1vw;
    font-weight: 600;
    color: rgb(255 214 9);
    text-align: center;
}

.node-card-banker>.node-card-banker-card1 {
    position: absolute;
    transition: transform .2s;
    background: url(https://tekeye.uk/playing_cards/images/svg_playing_cards/backs/png_96_dpi/red2.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    border-radius: 4%;
    width: 45%;
    height: 45%;
    left: 3%;
    top: 25%;
}

.node-card-banker>.node-card-banker-card2 {
    position: absolute;
    transition: transform .2s;
    background: url(https://tekeye.uk/playing_cards/images/svg_playing_cards/backs/png_96_dpi/red2.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    border-radius: 4%;
    width: 45%;
    height: 45%;
    right: 3%;
    top: 25%;
}

.node-card-banker>.node-card-banker-card3 {
    position: absolute;
    transform: rotate(-90deg);
    transition: transform .2s;
    background: url(https://tekeye.uk/playing_cards/images/svg_playing_cards/backs/png_96_dpi/red2.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    border-radius: 4%;
    width: 45%;
    height: 45%;
    bottom: -4%;
    left: 30%;
}


._8XOzSmOOEZguY1YmMefoR {
    background: rgb(28, 26, 26);
    border-top: 3px solid rgb(225, 82, 0);
    border-bottom: 3px solid rgb(225, 82, 0);
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 60px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 20px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #992f00e8;
    color: white;
    height: 68px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-radius: 18px;
    margin-right: 5px;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #a24217;
    border-color: #a24217;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 17px;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #b73333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}