<gupw-footer class="ng-isolate-scope">
    <footer ng-class="$ctrl.styles.footer" class="HYHQ7RYC1BDlO1amTeHE9">
        <section>
            <div ng-class="$ctrl.styles.wrapper" class="pUk9b12uOGKg24-PcmJWk">
                <ul>
                    <li>
                        <h5 translate="Shared_Footer_Article" class="ng-scope">Hỗ trợ &amp;
                            Thông tin</h5>
                        <ol>
                            <li> <a ui-sref="about-us" translate="Shared_Footer_About" class="ng-scope"
                                    href="/AboutUS">Về chúng tôi</a> </li>
                            <li> <a ng-click="$ctrl.openRegisterModal()" translate="Shared_Footer_Reg"
                                    class="ng-scope">Mở tài
                                    khoản</a> </li>
                            <li> <a ui-sref="terms" translate="Shared_Footer_Terms" class="ng-scope" href="/Terms">Điều
                                    khoản và Điều kiện</a>
                            </li>
                            <li> <a ui-sref="responsible-gambling" translate="Shared_Footer_ResponsibleGambling"
                                    class="ng-scope" href="/ResponsibleGambling">Chơi game có
                                    trách nhiệm</a> </li>
                        </ol>
                    </li>
                    <li>
                        <h5 translate="Shared_Footer_GameList" class="ng-scope">Sản phẩm</h5>
                        <ol>
                            <li><a href="/Lobby/Sport" translate="Shared_Nav_Sports" class="ng-scope">Thể Thao</a></li>
                            <li><a href="/Lobby/Live" translate="Shared_Nav_LiveCasino" class="ng-scope">Casino</a></li>
                            <li><a href="/Lobby/Game" translate="Shared_Footer_Casino" class="ng-scope">NỔ HŨ</a></li>
                            <li><a href="/Lobby/Fish" translate="Shared_Fish_Game" class="ng-scope">Câu cá</a></li>
                            <li><a href="/Lobby/Lottery" translate="Shared_Nav_Lottery" class="ng-scope">Xố Số</a></li>
                            <li><a href="/Lobby/Board" translate="Shared_Nav_Board" class="ng-scope">3D Games</a></li>
                        </ol>
                    </li>
                    <li>
                        <h5 translate="Shared_Footer_Mobile" class="ng-scope">Nền tảng</h5>
                        <ol>
                            <li><a href="/Mobile" translate="Shared_Footer_MobileBet" class="ng-scope">Điện Thoại</a>
                            </li>
                        </ol>
                    </li>
                    <li ng-class="$ctrl.styles.logoList" class="_2JZjiSmhATakYo108XEVa_">
                        <h5 translate="Shared_Footer_LogoList" class="ng-scope">Chứng chỉ</h5>
                        <div ng-class="$ctrl.styles.logoImg" class="_3YtUxG4ePPAXElQhqAxNzA">
                            <i></i> <i></i> <i></i> <i></i> <i></i> <i></i>
                        </div>
                    </li>
                    <li ng-class="$ctrl.styles.logoList" class="_2JZjiSmhATakYo108XEVa_">
                        <h5 translate="Shared_Footer_Pay" class="ng-scope">Phương thức thanh
                            toán</h5>
                        <div ng-class="$ctrl.styles.payImg" class="_33pRz2irmnlhQ5y3C8yzuO">
                            <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i> <i></i>
                        </div>
                    </li>
                    <li>
                        <h5 translate="Shared_Footer_Logo2" class="ng-scope">Giấy phép Game</h5>
                        <i ng-class="$ctrl.styles.logo2" class="_2eIdjpu_dhRjihfkFIlRWg"></i>
                    </li>
                </ul>
                <section style="text-align: center;">
                    <p ng-class="$ctrl.styles.suggest" class="text-center ng-binding _1rm8EYCjCarupQKGl8wf0B"
                        ng-bind="$ctrl.suggest">Copyright © XXXX Reserved</p> <i ng-class="$ctrl.styles.adult"
                        class="_1S-uJO5ps2hPODGOpH1913"></i>
                </section>

            </div>
        </section>
    </footer>
</gupw-footer>


</gupw-sample-layout>
</ui-view>
</gupw-app>
</ui-view>
</div>

<!-- Application Script -->
<script src="/core/js/app.js"></script>

<!--Start of Tawk.to Script-->
<!-- <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/64ffc0e7b1aaa13b7a764f1c/1hcona2d3';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script> -->
<!--End of Tawk.to Script-->


</body>

</html>