<!-- FOOTER -->

<gupw-footer class="ng-isolate-scope">
    <gupw-footer class="ng-isolate-scope">
        <footer ng-class="$ctrl.styles['footer']" class="HYHQ7RYC1BDlO1amTeHE9" style="
    position: relative;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    background: #000;">
            <gupw-movie-bg key="'httpFilm2'" class="ng-isolate-scope"
                style="z-index: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; display: none;">
                <!-- ngIf: $ctrl.filmBg.url -->
            </gupw-movie-bg>
            <section>
                <div ng-class="$ctrl.styles.wrapper" class="pUk9b12uOGKg24-PcmJWk">
                    <div ng-class="$ctrl.styles['footer-top']" class="_3GtrsuJeLOaEQ14Go3zn1L"
                        style=" display: -ms-flexbox; display: flex; justify-content: space-between; padding: 45px 0 0;">
                        <ul ng-class="$ctrl.styles.info" class="_30HYT2iK08KPDwm-QY5zlF"
                            style=" width: 467px;  margin: 0;  padding: 0;  font-size: 0; list-style: none;">
                            <li class="sign"
                                style=" position: relative; display: -ms-flexbox; display: flex; justify-content: space-between; align-items: center;">
                                <div>
                                    <h2>Đại Sứ Thương Hiệu</h2>
                                    <p>Luis Suarez</p>
                                    <p>Năm 2022 - 2023</p>
                                </div>
                                <figure> <img height="108"
                                        src="https://gwfd.qatgwawm.net/system-requirement/Web.PortalNew/UK251-01/96956489f0/images/46e58a895782a91ad066db6e5cc85435.png">
                                </figure> <a target="_blank" ng-href="https://9.789b40.com/"
                                    href="https://9.789b40.com/"> </a>
                            </li>
                            <li class="sponsor" style="
    position: relative;
    height: 77px;
    margin-top: 40px;
">
                                <div style="
    width: 155px;
">
                                    <h2 style="
    margin: 5px 0;
    font-size: 15px;
    font-weight: 700;
">Đối Tác Chính Thức</h2>
                                    <p style="
    margin: 5px 0;
    font-size: 15px;
">Villarreal CF &amp; OKVIP</p>
                                </div>
                                <div class="inline-flex" style="
    display: inline-flex;
    width: auto;
    margin-top: -70px;
    margin-left: 200px;
">
                                    <figure style="
    padding-left: 0;
    padding-right: 20px;
    border-right: 1px solid #fff;
"> <img height="73" src="https://gwfd.qatgwawm.net/system-requirement/Web.PortalNew/UK251-01/96956489f0/images/6a0651408dfd6eab0aad629db468e284.png">
                                    </figure>
                                    <figure style="
    max-height: 100px;
    padding-left: 20px;
"> <img height="75" src="https://gwfd.qatgwawm.net/system-requirement/Web.PortalNew/UK251-01/96956489f0/images/d43fb6af06baa2412af11d06ff7ff17f.png">
                                    </figure>
                                </div> <a target="_blank" ng-href="https://789bb2.com/okvip1"
                                    href="https://789bb2.com/okvip1" style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
"> </a>
                            </li>
                        </ul>
                        <div ng-class="$ctrl.styles.right" class="_3Xhx51F6Vv1eWsxe142GAe" style="
    width: 613px;
">
                            <div style="
    display: flex;
    align-items: center;
">
                                <div ng-class="$ctrl.styles.logo" class="nEaugXPik5BmpdM28Ug6n" style="
    height: 93px;
    margin-right: 430px;
"> <img src="https://gwfd.qatgwawm.net/system-requirement/Web.PortalNew/UK251-01/96956489f0/images/f5ef0283d65be1f1c50b0d694c3fcf87.png"
                                        style="
    max-width: 100%;
    max-height: 100%;
"> </div>
                                <div ng-class="$ctrl.styles.slogan" class="_3nUN1yRpiSS8rzpc02MiUL" style="
    color: #f90;
    font-weight: 600;
    text-align: center;
    margin-left: 155px;
">
                                    <h2 style="
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
">casino, tôi chỉ chọn 789bet</h2>
                                </div>
                            </div>
                            <p ng-class="{ 'show': $ctrl.show }" class="" style="
    height: 84px;
    margin: 16px 0;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
    margin-top: 55px;
"> <!-- ngIf: !$ctrl.show --><span ng-if="!$ctrl.show" class="ng-scope" style=""> <b class="font-utm">789BET</b> là một
                                    nhà cái có giấy phép cá cược trực tuyến hợp pháp do Isle of Man và Khu kinh tế
                                    Cagayan and Freeport cấp. Với bề dày kinh nghiệm và danh tiếng phục vụ hơn 10 triệu
                                    người chơi ... </span><!-- end ngIf: !$ctrl.show --> <!-- ngIf: $ctrl.show --> <span
                                    ng-class="$ctrl.styles.hightlight" ng-click="$ctrl.toggleInfo()"
                                    class="ng-binding DzD_7wQtNP_QK9GUHQTvI"> Xem thêm</span> </p> <img
                                src="https://gwfd.qatgwawm.net/system-requirement/Web.PortalNew/UK251-01/96956489f0/images/c79c3bc8cd49e3ee58ff8d9aeb4f0aab.png">
                        </div>
                    </div>
                    <section ng-class="$ctrl.styles.links" class="_AnoyT0EQs6DGvSVfvWhK" style="
    margin: 20px 0;
">
                        <ul style="
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
">
                            <li> <a ui-sref="rule" translate="Shared_Footer_Rule" class="ng-scope" href="/rule" style="
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
">Điều khoản và điều kiện</a> </li>
                            <li> <a ui-sref="about-us" translate="Shared_Footer_AboutUs" class="ng-scope"
                                    href="/AboutUS" style="
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
">Giới thiệu</a> </li>
                            <li> <a ui-sref="responsible-gambling" translate="Shared_Footer_Responsible"
                                    class="ng-scope" href="/ResponsibleGambling" style="
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
">Chơi có trách nhiệm</a> </li>
                            <li> <a ui-sref="disclaimer" translate="Shared_Footer_Disclaimer" class="ng-scope"
                                    href="/Disclaimer" style="
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
">Miễn trách nhiệm</a> </li>
                            <li> <a ui-sref="privacy" translate="Shared_Footer_Privacy" class="ng-scope" href="/Privacy"
                                    style="
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
">Quyền riêng tư</a> </li>
                            <li> <a ui-sref="faq" translate="Shared_Footer_FAQ" class="ng-scope" href="/FAQ" style="
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
">Những câu hỏi thường gặp</a> </li>
                        </ul>
                    </section>
                </div>
                <div ng-class="$ctrl.styles.suggest" class="text-center _1rm8EYCjCarupQKGl8wf0B">
                    <div ng-class="$ctrl.styles.wrapper" class="ng-binding pUk9b12uOGKg24-PcmJWk">Copyright © Link Mới
                        www.omegadao.net | https://www.omegadao.net/ | Trang chủ nhà cái uy tín 789BET, uy tín tạo
                        thương hiệu Reserved</div>
                </div>
            </section>
        </footer>
    </gupw-footer>


    </gupw-sample-layout>
    </ui-view>
    </gupw-app>
    </ui-view>
    </div>

    <!-- Application Script -->
    <script src="/core/js/app.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        // var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        // (function () {
        //     var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        //     s1.async = true;
        //     s1.src = 'https://embed.tawk.to/64ffc0e7b1aaa13b7a764f1c/1hcona2d3';
        //     s1.charset = 'UTF-8';
        //     s1.setAttribute('crossorigin', '*');
        //     s0.parentNode.insertBefore(s1, s0);
        // })();
    </script>
    <!--End of Tawk.to Script-->

    <script src="https://chat-plugin.pancake.vn/main/auto?page_id=web_789pancake"></script>
    </body>

    </html>